<!DOCTYPE html>
<html>
<head>
    <title> {{ _('bookreader-name') }} </title>

    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
    <meta name="apple-mobile-web-app-capable" content="yes">
    <link rel="icon" href="https://upload.wikimedia.org/wikipedia/commons/thumb/f/f2/BookReader-favicon.svg/48px-BookReader-favicon.svg.png">

    <link href="https://tools-static.wmflabs.org/cdnjs/ajax/libs/twitter-bootstrap/4.3.1/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>
    <nav class="navbar navbar-dark bg-dark">
        <span class="navbar-brand mb-0 h1">{{ _('bookreader-heading') }}</span>
        <div class="my-2 my-lg-0">
            <a class="btn btn-secondary" href="{{ url_for('changelang') }}" style="float: right;"> {{ _('changelanguage') }}</a>
        </div>
    </nav>
    <div class="container col-lg-6 p-3 bg-white shadow rounded">
        <div class="alert alert-danger" role="alert">
          {{ _('error') }} {{ msg }} :-/
        </div>
    </div>

    <footer class="footer fixed-bottom">
        <p class="container text-center"><small>Created and maintained by <a href="https://meta.wikimedia.org/wiki/User:Jayprakash12345">Jayprakash</a>, <a
            href="https://meta.wikimedia.org/wiki/Indic-TechCom">Indic-TechCom</a> ( <a
            href="https://github.com/Jayprakash-SE/indic-wsstats">View Source</a> ), Viewer Powered by
            <a href="https://github.com/internetarchive/bookreader">Internet Archive BookReader</a> </small>
        </p>
    </footer>
</body>
</html>