<!DOCTYPE html>
<html>
<head>
    <title> Book Reader - Wikimedia </title>

    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
    <meta name="apple-mobile-web-app-capable" content="yes">

    <link href="https://tools-static.wmflabs.org/cdnjs/ajax/libs/twitter-bootstrap/4.3.1/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://tools-static.wmflabs.org/cdnjs/ajax/libs/jqueryui/1.12.1/jquery-ui.min.css">
    <script src="https://tools-static.wmflabs.org/cdnjs/ajax/libs/jquery/3.3.1/jquery.js"></script>
    <script src="https://tools-static.wmflabs.org/cdnjs/ajax/libs/jqueryui/1.12.1/jquery-ui.min.js"></script>
    <script>
        $(function(){
            $("#submit_by_name").on( 'click', function() {
                lang = $("#project").val();
                filename = $("#filename").val();
                window.location = "{{ url_for('index') }}" + lang + "/" + filename
            });

            $("#filename").autocomplete({
                source: function (request, response) {
                    inputValue = request.term;
                    console.log(inputValue)
                    $.ajax({
                        'url': 'https://' + $("#project").val() + '.wikisource.org/w/api.php',
                        'data': {
                            'action': 'query',
                            'list': 'allimages',
                            'ailimit': 5,
                            'aifrom': inputValue[0].toUpperCase() + inputValue.slice(1),
                            'origin': '*',
                            'format': 'json'
                        },
                        'success': function (data) {
                            response($.map(data.query.allimages, function (resImage) {
                                return resImage.name;
                            }));
                        }
                    });
                }
            });
        });
    </script>
    <style rel="stylesheet">
        .center-separator {
            display: flex;
            line-height: 1em;
            color: gray;
        }

        .center-separator::before, .center-separator::after {
            content: '';
            display: inline-block;
            flex-grow: 1;
            margin-top: 0.5em;
            background: gray;
            height: 1px;
            margin-right: 10px;
            margin-left: 10px;
        }
    </style>
</head>
<body>
    <h2 class="text-center">Book Reader</h2>

    <div class="container col-lg-6 p-3 bg-white shadow rounded">
        <form action="{{ url_for('read') }}" method="GET">
            <div class="form-group">
                <input class="form-control" name="file"t ype="url" required
                placeholder="Enter a URL of PDF/DjVu from Wikimedia project">
            </div>
            <button class="btn btn-outline-primary" type="submit">Submit</button>
        </form>

        <br>
        <div class="center-separator">Or</div>
        <br>
        <div class="form-group">
            <label for="project">Wikisource project:</label>
            <select class="form-control" id="project" name="project">
                <option value="as">Assamese</option>
                <option value="bn">Bangla</option>
                <option value="gu">Gujarati</option>
                <option value="hi">Hindi</option>
                <option value="kn">Kannada</option>
                <option value="ml">Malayalam</option>
                <option value="mr">Marathi</option>
                <option value="or">Oriya</option>
                <option value="pa">Punjabi</option>
                <option value="sa">Sanskrit</option>
                <option value="ta">Tamil</option>
                <option value="te">Telugu</option>
            </select>
            <label for="filename" style="padding-top: 5px;">Filename:</label>
            <input class="form-control" type="text" id="filename"
            placeholder="Enter a name of file">
            <small><small>Autocomplete of filename works only for local uploaded file.</small></small>
            <br><br>
            <a id="submit_by_name" class="btn btn-outline-info">Submit</a>
        </div>
    </div>

    <footer class="footer fixed-bottom">
        <p class="container text-center"><small>Created and maintained by
            <a href="https://meta.wikimedia.org/wiki/User:Jayprakash12345">Jayprakash</a>,
            <a href="https://meta.wikimedia.org/wiki/Indic-TechCom">Indic-TechCom</a> (
            <a href="https://gerrit.wikimedia.org/g/labs/tools/bookreader">View Source</a> ), Viewer Powered by
            <a href="https://github.com/internetarchive/bookreader">Internet Archive BookReader</a></small>
        </p>
    </footer>
</body>
</html>
