<!DOCTYPE html>
<html>
<head>
    <title> {{ _('bookreader-name') }} </title>

    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
    <meta name="apple-mobile-web-app-capable" content="yes">
    <link rel="icon" href="https://upload.wikimedia.org/wikipedia/commons/thumb/f/f2/BookReader-favicon.svg/48px-BookReader-favicon.svg.png">

    <link href="https://tools-static.wmflabs.org/cdnjs/ajax/libs/twitter-bootstrap/4.3.1/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://tools-static.wmflabs.org/cdnjs/ajax/libs/jqueryui/1.12.1/jquery-ui.min.css">
    <script src="https://tools-static.wmflabs.org/cdnjs/ajax/libs/jquery/3.3.1/jquery.js"></script>
    <script src="https://tools-static.wmflabs.org/cdnjs/ajax/libs/jqueryui/1.12.1/jquery-ui.min.js"></script>
    <script>
        $(function(){
            $("#submit_by_name").on( 'click', function() {
                lang = $("#project").val();
                filename = $("#filename").val();
                window.location = "{{ url_for('index') }}" + lang + "/" + filename
            });

            $("#filename").autocomplete({
                source: function (request, response) {
                    inputValue = request.term;
                    console.log(inputValue)
                    $.ajax({
                        'url': 'https://' + $("#project").val() + '.wikisource.org/w/api.php',
                        'data': {
                            'action': 'query',
                            'list': 'allimages',
                            'ailimit': 5,
                            'aifrom': inputValue[0].toUpperCase() + inputValue.slice(1),
                            'origin': '*',
                            'format': 'json'
                        },
                        'success': function (data) {
                            response($.map(data.query.allimages, function (resImage) {
                                return resImage.name;
                            }));
                        }
                    });
                }
            });
        });
    </script>
    <style rel="stylesheet">
        .center-separator {
            display: flex;
            line-height: 1em;
            color: gray;
        }

        .center-separator::before, .center-separator::after {
            content: '';
            display: inline-block;
            flex-grow: 1;
            margin-top: 0.5em;
            background: gray;
            height: 1px;
            margin-right: 10px;
            margin-left: 10px;
        }
    </style>
</head>
<body>
    <a class="btn btn-secondary" href="{{ url_for('changelang') }}" style="float: right;"> {{ _('changelanguage') }}</a>
    <h2 class="text-center">{{ _('bookreader-heading') }}</h2>

    <div class="container col-lg-6 p-3 bg-white shadow rounded">
        <form action="{{ url_for('read') }}" method="GET">
            <div class="form-group">
                <input class="form-control" name="file" type="url" required
                placeholder="{{ _('byurl-placeholder') }}">
            </div>
            <button class="btn btn-outline-primary" type="submit">{{ _('form-submit') }}</button>
        </form>

        <br>
        <div class="center-separator">{{ _('or-text') }}</div>
        <br>
        <div class="form-group">
            <label for="project">{{ _('wiki-projects') }}</label>
            <select class="form-control" id="project" name="project">
                <option value="as">{{ _('lang-as') }}</option>
                <option value="bn">{{ _('lang-bn') }}</option>
                <option value="gu">{{ _('lang-gu') }}</option>
                <option value="hi">{{ _('lang-hi') }}</option>
                <option value="kn">{{ _('lang-kn') }}</option>
                <option value="ml">{{ _('lang-ml') }}</option>
                <option value="mr">{{ _('lang-mr') }}</option>
                <option value="or">{{ _('lang-or') }}</option>
                <option value="pa">{{ _('lang-pa') }}</option>
                <option value="sa">{{ _('lang-sa') }}</option>
                <option value="ta">{{ _('lang-ta') }}</option>
                <option value="te">{{ _('lang-te') }}</option>
            </select>
            <label for="filename" style="padding-top: 5px;">{{ _('label-filename') }}</label>
            <input class="form-control" type="text" id="filename"
            placeholder="{{ _('filename-placeholder') }}">
            <small><small>{{ _('localfile-notice') }}</small></small>
            <br><br>
            <a id="submit_by_name" class="btn btn-outline-info">{{ _('form-submit') }}</a>
        </div>
    </div>

    <footer class="footer fixed-bottom">
        <p class="container text-center"><small>Created and maintained by
            <a href="https://meta.wikimedia.org/wiki/User:Jayprakash12345">Jayprakash</a>,
            <a href="https://meta.wikimedia.org/wiki/Indic-TechCom">Indic-TechCom</a> (
            <a href="https://gerrit.wikimedia.org/g/labs/tools/bookreader">View Source</a> ), Viewer Powered by
            <a href="https://github.com/internetarchive/bookreader">Internet Archive BookReader</a></small>
        </p>
    </footer>
</body>
</html>
